.layout{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.document-editor{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
  height: 80%
}

.summary{
  width: 39%;
}

.summary-card{
  display: flex;
  justify-content: space-between;
  height: 100%;
}



.doc-title{
  margin-left: 20px;
}

