.layout{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 24px;
}

.doc-title{
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 24px;
}

.document-editor{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 800px;
  height: 80%;
  margin-right: 24px;
}

.savebutton{
  margin-top: 12px;
}

.summary{
  width: 600px;
  margin-left: 24px;
}

.summary-card{
  display: flex;
  justify-content: space-between;
  height: calc(100% - 54px);

}
