.flexContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.documentEditor{
  width: 59%;
  height: 80%
}

.summary{
  width: 39%;
}

.summaryCard{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#savebut{
  position: absolute;
  right: 42%;
  bottom: 60px;
}

.doctitle{
  margin-left: 20px;
}

