* {
  margin: 0;
  padding: 0;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  border-bottom: 2px solid black;
}

h1 {
  margin-top: 5px;
  margin-left: 20px;
  color: rgb(0, 0, 0);
  padding: 15px;
}


.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  }

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.userActive {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}