#image {
  width: 100px;
  height: 90px;
  padding: 21px 26px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

#search_part {
  display: inline-block;
  vertical-align: top;
}

#search_part_son {
  width: 600px;
  height: 90px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  vertical-align: top;
}

#search {
  width: 600px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_box {
  width: 500px;
  font-size: 16px;
  vertical-align: top;
}

.search-btn {
  width: 70px;
  height: 50px;
  background-color: #ececec;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.search-btn:hover {
  background-color: #8f8f8f;
}
